#follow_line .post_look {
    margin-top: 40px;
}

#follow_line .post_look h2 {
    margin-bottom: 0;
}

#follow_line ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

#follow_line .look_list {
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

#follow_line .look_card {
    display: flex;
}

#follow_line .look_card .post_img {
    width: 50%;
    height: 230px;
    object-fit: cover;
}

#follow_line .look_state {
    margin-left: 20px;
    padding-top: 15px;
}

#follow_line .look_back {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

#follow_line .user_state_box {
    display: flex;
    align-items: center;
}

#follow_line .user_state_box img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}

#follow_line .look_back .post_title {
    font-size: 22px;
}

#follow_line .look_list .user_name{
    font-size: 17px;
    font-weight: bold;
    margin-left: 7px;
    text-decoration: underline;
}

#follow_line .like  {
    margin-top: 75px;
}

#follow_line .post_like {
    color: #fff;
}