.user-show {
    text-align: center;
  }
  ​
  .user {
    margin-bottom: 20px;
  }
  ​
  .user img {
    width: 80px;
    height: 80px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    margin: 20px 0 10px;
    object-fit: cover;
  }
  ​
  .posts {
    width:60%;
    float: left;
  }
  ​
  .post-item {
    margin:0 30px;
    float: left;
  }