<html>
<head>
  <meta charset="utf-8">
  <title>hitokoto</title>
  <link rel="stylesheet" href="show.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
​
<div class="user-show">
  <div class="container">
    <div class="user">
      <img src="./img/sea.jpg">
      <p>name</p>
      <!-- <% @user.posts.each do |post| %> -->
      <div class="posts-index-item">
        </div>
        <p>投稿一覧</p>
        <div class="posts">
          <div class="post-item">
            <p>aaaaa</p>
            <img src="./img/cat.jpg" alt="">
          </div>
          <div class="post-item">
            <p>aaaaa</p>
            <img src="./img/cat.jpg" alt="">
          </div>
          <div class="post-item">
            <p>aaaaa</p>
            <img src="./img/cat.jpg" alt="">
          </div>
        </div>
      </div>
    <!-- <% end %> -->
    </div>
  </div>
</div>